h1 {
    color: #27aedb;
    text-align: center;
}

h2 {
    margin-top: 2%;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
}
/*
.member{
    margin-top: 6%;
    margin-bottom: 3%;
    max-width: 75%;
    margin-left: 12.5%; 
}
*/